* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.benefits-section {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  margin: 0;
  position: relative;
}

.benefits-section::before {
  content: '';
  position: absolute;
  top: 1.5rem;
  /* Ajuste de posición */
  left: 50%;
  transform: translateX(-50%);
  width: 5rem;
  /* Ajuste de tamaño */
  height: 0.5rem;
  /* Ajuste de tamaño */
  background-color: rgb(71, 119, 240);
  /* Color más claro y opacidad */
  z-index: 1;
  /* Colocar detrás del contenido */
  border-radius: 50px;
}

.benefit-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  justify-content: center;
  width: 100%;
  max-width: 900px; /* Ajusta el ancho máximo según sea necesario */
  margin: 0 auto; /* Centrando el contenedor */
}

.benefits-section h2 {
  color: #333;
  margin-bottom: 1rem;
}

.benefit-card {
  width: 100%;
  max-width: 200px;
  height: 250px;
  background-color: #fff;
  color: #333;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.benefit-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Aumentar la sombra al pasar el mouse */
}

.benefit-card:hover svg {
  transform: translateY(-3px);
  /* Desplazar hacia arriba el icono al pasar el mouse */
}

.benefit-card h3 {
  margin-top: 0.5rem;
}

.benefit-card p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.benefit-card svg {
  color: #007bff;
}

.icon-benefit {
  font-size: 3rem; /* Ajuste de tamaño del ícono */
}

@media only screen and (max-width: 768px) {
  .benefits-section {
    background-color: #ffffff;
  }

  .benefit-cards {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .benefits-section::before {
    left: 50%;
    transform: translateX(-50%);
  }

  .benefit-card {
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 2rem;
  }

  .benefit-card p {
    font-size: 1.2rem;
  }

  .benefit-card h3 {
    font-size: 1.5rem;
  }

  .icon-benefit {
    font-size: 4rem;
  }
}
