.doctor-section {
  padding: 50px 20px;
  background-color: #e3e6e8;
  text-align: center;
}

.doctor-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.doctors-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.doctor-card {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.doctor-img-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 20px auto;
}

.doctor-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.social-icons a {
  margin: 0 10px;
  color: #333;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #007bff;
}

@media only screen and (max-width: 768px) {
  .doctors-container {
    flex-direction: column;
    width: 100%;
    max-width: 100vw;
    align-items: center;
  }
  
  .doctor-card {
    width: 90%;
    max-width: 300px;
    margin: 10px auto;
  }
}
