@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f8f9fa;
}

header,
.hero-section,
.benefits-section,
.services-section,
.testimonials-section,
.contact-section,
.about-us-section,
footer {
  width: 100vw;
  padding: 3rem 1rem;
  
  overflow: hidden;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}